# This file is made using the following technique:
# 1. Remove old config if exists
#    mv .config .config.old
# 2. Make desired changes using:
#    make menuconfig
#      Target System (MediaTek ARM)
#      Subtarget (Filogic 8x0 (MT798x))
#      Target Profile (GL.iNet GL-MT6000)
# 3. Save config and exit
# 4. Run the following command to create minimal config file:
#    ./scripts/diffconfig.sh > diffconfig

# See docs:
# https://openwrt.org/docs/guide-developer/toolchain/use-buildsystem#creating_a_diff_file

CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_glinet_gl-mt6000=y
